[submodule "MongoExample"]
	path = MongoExample
	url = https://github.com/mareasperez/MongoExample.git
[submodule "task-frontend-angular"]
	path = task-frontend-angular
	url = https://github.com/mareasperez/task-frontend-angular.git
